body{
  background: #E3E3E3;
  color: black;
  font-family: 'Montserrat', sans-serif;
}
div{
  border-radius: 16px;
}
hr{
  border: 0 dashed black;
  width: 100%;
}
.p1{
  font-size: 1.5rem;
  margin-left: 10px;
}

.latest-news{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
  background-color: ;
  border-radius: 16px;
}
.news1,.news2,.news3,.news4{

  display: grid;
  grid-template-columns: 1fr 1fr;

}
.latest-news-container{
  padding: 25px 80px 40px 70px;
}

img{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.first img{
  border-top-right-radius: 0;
  border-bottom-left-radius: 16px;
}

.demo{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.row1 img{
  display: inline-block;
}
h6{
  display: inline-block;
  color: #C60021;
}
h6:hover{
  text-decoration: underline;
}
.headlines{
  margin-left: 70px;
}
/* h1{
  color: #C60021;
  font-size: 3.5rem;
  text-decoration: underline;
} */
.main{
  display: grid;
  grid-template-rows: 0.7fr 1fr;
  grid-row-gap: 20px;
  padding: 30px 50px 30px 50px;
}
.row1{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 20px;
  padding: 20px;
}
.row2{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 20px;
  padding: 20px;
}
.row2 > div{
  border-radius: 16px;
}
.row21{
  display: grid;
  grid-auto-rows: 1.5fr 1.5fr;
  grid-row-gap: 20px;
}
.row22{
  display: grid;
  grid-auto-rows: 1fr 1fr;
  grid-row-gap: 20px;
}
.row2-lower{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.first{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  border: 0px solid black;
  border-radius: 16px;
  background: #F6F6F8;
}

.first-right{
  padding: 20px;
}
.first img{
  height: 100%;
  width: 100%;
}
.second{
  background: #F6F6F8;
  text-align: left;
  border-radius: 16px;
  padding: 15px;
  color: black;
}
i{
  margin-right: 10px;
  color: black;
}

.top-stories{
  text-align: center;
}
.row2-upper{
padding: 20px;
display: grid;
grid-template-columns: 1fr 1fr;
border: 0 solid black;
background: #F6F6F8;
height: 100%;
}
.row2-upper p{
  font-size: 1.5rem;
}
.row2-upper-right img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.upper{
  border: 0 solid black;
  height: 100%;
  background: #F6F6F8;
}
.upper p{
  font-size: 1.2rem;
  margin-top: 8px;
}
.row23-image{
  width: 100%;
  height: 50%;
}
.row23 p{
  margin-top: 10px;
  font-size: 1.1rem;
  margin: 50px 20px 0 30px;
}

.row23, .lower, .left, .right{
  border: 0 solid black;
  background: #F6F6F8;
}
.lower p{
  margin-top: 8px;
  font-size: 1.1rem;
}
.left p{

  font-size: 1.1rem;
}
.right img{
  width: 100%;
  height: 60%;
}

.second p{
  font-size: 10px;
}

.lower img{
  width: 100%;
}

.main-bg{
  position: relative;

  border-radius: 16px;
  padding: 0px 30px 0 30px;
}

/* .row2-main-bg{
  padding-top: 30px
} */
.left img{
  width: 100%;
}
.left{
  height: 100%;
}
.right{
  height: 100%;
}
.upper img{
  width: 100%;
}

.right p, .left p, .lower p{
  margin: 10px;
}
.row23{
  height: 100%;
}
.row23:hover{
  opacity: 0;
}
.right:hover{
  opacity: 0;
}
.left:hover{
  opacity: 0;
}
.upper:hover{
  opacity: 0;
}
.first:hover{
opacity: 0;
}
.lower:hover{
  opacity: 0;
}
.row2-upper:hover{
  opacity: 0;
}

.header h1{
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  text-align: center;
}
span{
  font-family: 'Libre Baskerville', serif;
  font-size: 55px;
}
.header{
  background: #E3E3E3;
}
a{
  color: black;
  text-decoration: none;
  display: inline;
}
